<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    {{> menu}}

<form action='/add-trip' method='POST'>
<input type='text' name='destination' placeholder="Destination"></input>
<input type='text' name='departureDate' placeholder="Departure Date"></input>
<input type='text' name='returnDate' placeholder='Return Date'></input>
<input type='text' name='destinationImgURL' placeholder='Image of Destination'></input>
<button type='submit'>Submit</button>
</form>


  </body>
</html>
